p {
    font-family: Verdana, "DejaVu Sans", sans-serif;
    background-color: rgb(235, 186, 170);
}

div#two {
    color: blue;
    font-size: 36px;
}

div#four {
    background: green;
    font-weight: bold;
    font-size: 24px;
}

p#cooler {
    font-size: 24px;
}