body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 5px;
  padding-top: 20px;
}

.title {
  background: #e3f4ff;
  padding: 15px;
  margin: 10px
}

.content {
  background: #e3f4ff;
  padding: 15px;
  margin: 10px
}

.button-container {
  background: #e3f4ff;
  padding: 15px;
  margin: 10px;
  text-align: center;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  padding: 10px;
  margin: 0 auto;
}